main {
  display: flex;
}

footer {
  margin-top: 3em;
}

#headlines {
  flex-basis: 45%;
}

#gifs {
  flex-basis: 45%;
  column-count: 3;
  column-gap: 0px;
  padding: 1em;
}

#gifs img {
  width: 100%;
}

#error {
  display: none;
  color: #000;
  background-color: rgba(255, 0, 0, 0.2);
  min-height: 3em;
  width: 100%;
}

.headline {
  border-top: 1px solid #eee;
}

.headline:last-child {
  border-bottom: 1px solid #eee;
}

.headline-link, .headline-link:hover, .headline-link:visited {
  display: block;
  color: black;
  padding: 1em 0;
  text-decoration: none;
}

.waiting {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 6px red dotted;
  animation: spin 4s linear infinite;
  z-index: 10;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
